/* Smartphones (portrait and landscape) */
@media only screen and (min-width : 320px) and (max-width : 480px) {

}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
}

/* iPads (landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {

}

/* Large screens */
@media only screen and (min-width : 1824px) {

}