/**
 * Main style file which is compiled to css.
 * Used only for including other modules.
 */

@import
    "lib/normalize";

@import
    "generated/sprite-map",
    "generated/iconfont-map";

@import
    "core/variables",
    "core/functions",
    "core/mixins";

@import
    "layout/base",
    "layout/container";

@import
    "pages/home";
