html {
    box-sizing: border-box;
    font-family: $main-font;
    line-height: $line-height;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.5s ease;
    text-indent: -100%;
    opacity: 1;
}

img { max-width: 100%; }
a { text-decoration: none; }
