/*
|------------------------------------------------------------
| Grid
|------------------------------------------------------------
*/

$gap: 2.5%;

%col {
	@include inline-block;
	vertical-align: top;
	margin: 0 $gap / 2;
}

%row {
	text-align: justify;
	font-size: 0;

	&:after {
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

@mixin col ($col, $sum) {
	@extend %col;
	$width: ($col / $sum) * 100% - $gap;

	width: $width;
	@include rem(1);

	@include breakpoint(phone) {
		width: 100% - $gap;
	}

	&.fluid {
		@include breakpoint(phone) {
			width: $width;
		}
	}
}

.row { @extend %row; }