/*
|------------------------------------------------------------
| Grid
|------------------------------------------------------------
*/

$gap: 2.5%;

%col {
    @include inline-block;
    @include rem(1);
    margin: 0 $gap / 2;
}

%row {
    font-size: 0;
}

@mixin col ($col, $sum, $align: top) {
    $width: ($col / $sum) * 100% - $gap;

    @extend %col;
    width: 100% - $gap;

    @include breakpoint ('tablet') {
        width: $width;
        vertical-align: $align;
    }

    &.fluid { width: $width; }
}

.row { @extend %row; }