/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
*/

%media {
	@extend %clearfix;

	.media-image {
		float: left;

		img {
			display: block;
			width: 100%;
		}
	}

	.media-content {
		@extend %clearfix;
		float: left;
		padding-left: 1em;
	}
}

%media-small {
	@extend %media;
	.media-image { width: 20%; }
	.media-content { width: 80%; }
}

%media-medium {
	@extend %media;
	.media-image { width: 30%; }
	.media-content { width: 70%; }
}

%media-big {
	@extend %media;
	.media-image { width: 40%; }
	.media-content { width: 60%; }
}