/*
|------------------------------------------------------------
| Mixins
|------------------------------------------------------------
*/

/**
 * Mixin for handling media queries (mobile first).
 * It has predefined values for frequently used dimensions.
 * If you pass custom number, it creates media query and set that number for min-width (mobile first).
 *
 * @param {String or Number} $value - You can use predefined (tablet, desktop, retina) or custom number (breakpoint).
 * @return {Media Query} Media query block
 */
@mixin breakpoint ($value) {
    @if $value == 'tablet' {
        @media only screen and (min-width: 768px) { @content; }
    }

    @else if $value == 'desktop' {
        @media only screen and (min-width: 1280px) { @content }
    }

    @else {
        @media only screen and (min-width: $value) { @content; }
    }
}

/**
 * Vertically center child element
 *
 * @param {String} $child - Child selector which you want to verticaly center.
 */
@mixin vertical-center-content ( $child ) {
    font-size: 0;

    &:before, &:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    #{$child} {
        font-size: rem($base-font-size);
        display: inline-block;
        vertical-align: middle;
    }
}
