/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/

.hide { display: none; }
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.padding { padding: 0.5em; }
.no-margin { margin: 0; }
.divide { margin-top: 0.5em; }
.divide-big { margin-top: 1em; }
.fixed { position: fixed; }
.upper { text-transform: uppercase; }
.strong { font-weight: bold; }