/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

%main-font-light { font-family: $main-font; font-weight: 300; }
%main-font-regular { font-family: $main-font; font-weight: 400; }
%main-font-medium { font-family: $main-font; font-weight: 600; }
