/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

%main-font-regular { font-family: map-get($font, main-font); font-weight: 300; }
%main-font-medium { font-family: map-get($font, main-font); font-weight: 400; }
%basic-font { font-family: Helvetica, Arial, sans-serif; }
