/*
|------------------------------------------------------------
| Container
|------------------------------------------------------------
*/

/**
 * Container module is used very often so it's predefined as module.
 * It has clearfix and it's responsive with max-width defined in variables.
 *
 * @requires {variable} $dimensions
 */
.container {
    @extend %clearfix;
    width: 95%;
    max-width: map-get($dimensions, container-width);
    margin: 0.5em auto;
}
