/*
|------------------------------------------------------------
| Container
|------------------------------------------------------------
*/

.container {
    @extend %clearfix;
    width: 95%;
    max-width: $container-width;
    margin: 0.5em auto;
}
