/*
|------------------------------------------------------------
| Placeholder selectors
|------------------------------------------------------------
*/

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%row { font-size: 0; }
%hide-text { @include hide-text; }

%reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

