$sprite: map-get($icons, sprite);
$pngSprite: '../img/sprite.png';
$svgSprite: '../img/sprite.svg';

/**
 * Placeholder selectors for all sprites, so that we have background image on one place
 */
%sprite { background-image: url($svgSprite); }
%ie-sprite { background-image: url($pngSprite); }

/**
 * Return an attribute for the sprite icon
 *
 * @param {String} $icon - Icon name
 * @param {String} $attr - Attribute name
 */
@function sprite-attr($icon, $attr) {
    $icon: map-get($icons, $icon);
    @return map-get($icon, $attr);
}

/**
 * Return background position for png sprite
 *
 * @param {String} $icon
 */
@mixin ie-sprite($icon) {
    #{$ieSprite} & {
        @extend %ie-sprite;
        width: sprite-attr($icon, width) + 5;
        height: sprite-attr($icon, height) + 5;
        background-position: (sprite-attr($icon, backgroundX)) (sprite-attr($icon, backgroundY));
    }
}

/**
 * Return background position for svg sprite
 *
 * @param {String} $icon
 */
@mixin sprite($icon) {
    @extend %sprite;
    width: sprite-attr($icon, width) + 5;
    height: sprite-attr($icon, height) + 5;
    background-position: sprite-attr($icon, backgroundX) sprite-attr($icon, backgroundY);
    @include ie-sprite($icon);
}
