{#common}$icons: (
    sprite: (width: {swidth}px, height: {sheight}px),{/common}
{#svg}    {name}: (width: {width}px, height: {height}px, backgroundX: {positionX}px, backgroundY: {positionY}px),
{/svg}{#common});{/common}
