/*
|------------------------------------------------------------
| Circle mixin
|------------------------------------------------------------
*/

@mixin circle ( $size ) {
    width: $size;
    height: $size;
    display: inline-block;
    @include border-radius(100%);
}