/*
|------------------------------------------------------------
| Divided list
|------------------------------------------------------------
*/

/**
 * This mixin create styles for list with inline list-items and separator between them.
 * It's useful when you're creating breadcrumbs, navigations, etc.
 *
 * @param {Number} $spacing - Spacing between list items
 * @param {String} $divider - Sign used for divider between list items
 */
@mixin divided-list ($spacing: 10px, $divider: "|") {
    @extend %reset-list;
    font-size: 0;

    li {
        @include rem($base-font-size);
        display: inline-block;
        vertical-align: center;

        &:before {
            content: $divider;
            display: inline-block;
            vertical-align: middle;
            margin: 0 $spacing;
        }

        &:first-child:before {
            display: none;
        }
    }
}
