/*
|------------------------------------------------------------
| Grid mixins
|------------------------------------------------------------
*/

$gap: 10px;

%col {
    display: inline-block;
    @include rem($base-font-size);
    padding: 0 $gap;
}

%row {
    font-size: 0;
}

@mixin col ($col, $sum, $align: top, $first: false, $last: false ) {
    $width: ($col / $sum) * 100%;

    @extend %col;
    width: 100%;
    @if $first == true { padding-left: 0; }
    @if $last == true { padding-right: 0; }

    @include breakpoint ('tablet') {
        width: $width;
        vertical-align: $align;
    }

    &.fluid { width: $width; }
}

.row { @extend %row; }