/*
|------------------------------------------------------------
| Icon mixin
|------------------------------------------------------------
*/

@mixin icon ( $icon, $side: left ) {

    $pseudo-element: if($side == left, 'before', 'after');

    &:#{$pseudo-element} {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-#{opposite-position($side)}: 0.5em;
        @include retina-sprite($icon);
    }
}