/*
|------------------------------------------------------------
| Inline list
|------------------------------------------------------------
*/

@mixin inline-list ($spacing, $side: left) {
    @extend %clearfix;
    @extend %reset-list;

    li {
        float: $side;
        margin-#{opposite-position($side)}: $spacing;

        &:last-child { margin: 0; }
    }

    a {
        display: block;
    }
}