/*
|------------------------------------------------------------
| Inline list
|------------------------------------------------------------
*/

@mixin inline-list ($spacing: 10px, $side: left) {
    @extend %clearfix;
    @extend %reset-list;

    li {
        float: $side;
        margin-#{$side}: $spacing;

        &:first-child { margin: 0; }
    }

    a {
        display: block;
    }
}