/*
|------------------------------------------------------------
| Retina sprite mixin
|------------------------------------------------------------
*/

@import "breakpoint";

%sprite {
    background-image: sprite-url($icons);
    background-repeat: no-repeat;

    @include breakpoint('retina') {
        background-image: sprite-url($icons2x);
        background-repeat: no-repeat;
        $sprite-width: image-width(sprite-path($icons2x)) / 2;
        $sprite-height: image-height(sprite-path($icons2x)) / 2;
        background-size: $sprite-width $sprite-height;
    }
}

@mixin retina-sprite ( $icon ) {
    $icon-name: "icons/" + $icon + '.png';
    $position: sprite-position($icons, $icon);
    $position-x: round(nth($position, 1));
    $position-y: round(nth($position, 2));
    background-position: $position-x $position-y;
    width: image-width($icon-name);
    height: image-height($icon-name);
    @extend %sprite;

    @include breakpoint('retina') {
        $icon-name: "icons@2x/" + $icon + '.png';
        $position: sprite-position($icons2x, $icon);
        $position-x: round(nth($position, 1)/2);
        $position-y: round(nth($position, 2)/2) + 1px;
        background-position: $position-x $position-y;
        width: round(image-width($icon-name) / 2) + 2;
        height: round(image-height($icon-name) / 2) + 2;
    }
}
