/*
|------------------------------------------------------------
| Footer
|------------------------------------------------------------
*/

footer {
    @extend .container;
    position: relative;
    text-align: center;
    color: #555;
    margin-top: 30px;
    padding-top: 1px;
    @include rem(14px);
    @include background-size(100% 1px);

    @include breakpoint('tablet') {
        margin-top: 100px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        @include background(linear-gradient(left, white, #ddd, white));
    }

    span {
        color: $main-color;
    }

    a {
        color: $main-color;

        &:hover {
            color: black;
        }
    }
}
