/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/

*, *:before, *:after {
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: black(0);
}

img { max-width: 100%; }
a { text-decoration: none; }