/*
|------------------------------------------------------------
| Typography
|------------------------------------------------------------
*/

/* @include font-face(
	"FontName",
	font-files(
		"FontName.woff",
		"FontName.ttf",
		"FontName.svg"),
	"FontName.eot"
); */

%main-font-regular { font-family: ""; }
%main-font-medium {	font-family: ""; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }