/*
|------------------------------------------------------------
| Buttons
|------------------------------------------------------------
*/

.hero .buttons {
    @extend %reset-list;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    text-align: left;

    li {
        display: inline-block;
        margin-right: 10px;

        @include breakpoint('tablet') {
            margin-right: 20px;
        }

        &:last-child { margin-right: 0; }
    }

    a {
        display: inline-block;
        padding: 0.7em 1em;
        text-align: center;
        border: 1px solid $main-color;
        color: $main-color;
        font-weight: bold;
        text-transform: uppercase;
        @include border-radius(5px);
        @include transition(all 0.4s);

        @include breakpoint('tablet') {
            padding: 0.7em 1.5em;
        }

        &:hover {
            color: white;
            background: $main-color;
        }
    }
}
