/*--------------------------------------
 * IE FIX
---------------------------------------*/

.chromeframe {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}