/*--------------------------------------
 * MIXINS
---------------------------------------*/

@mixin rem($size) {
    font-size: round(($size * $base-font-size));
    font-size: $size + rem;
}

@mixin responsive($device) {
    @if $device == smartphone {
        @media only screen and (min-width : 320px) and (max-width : 480px) { @content; }
    }

    @if $device == tablet {
        @media only screen and (min-width : 768px) and (max-width : 1024px) { @content; }
    }

    @if $device == desktop {
        @media only screen and (min-width : 1224px) { @content; }
    }

    @if $device == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
            @content;
        }
    }
}

@mixin responsive-sprite($icon) {
    $iconname: "icons/#{$icon}.png";
    $iconwidth: ceil(image-width($iconname))/2;
    $iconheight: ceil(image-height($iconname))/2;

    $pos: sprite-position($icons, $icon);
    $posx: ceil(nth($pos, 1)/2);
    $posy: ceil(nth($pos, 2)/2);

    @include sprite-dimensions($icons, $icon);
    background: sprite($icons, $icon);

    @include responsive(smartphone) {
        width: $iconwidth;
        height: $iconheight;
        background: sprite-url($icons) $posx $posy no-repeat;
        @include background-size(ceil(image-width(sprite-path($icons)) / 2) auto);
    }
}

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}