/*--------------------------------------
 * MIXINS
---------------------------------------*/

@mixin responsive($device) {
    @if $device == smartphone {
        @media only screen and (min-width : 320px) and (max-width : 480px) { @content; }
    }

    @if $device == tablet {
        @media only screen and (min-width : 768px) and (max-width : 1024px) { @content; }
    }

    @if $device == desktop {
        @media only screen and (min-width : 1224px) { @content; }
    }

    @if $device == retina {
        @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
            @content;
        }
    }
}

@mixin responsive-sprite($icon, $map: $icons) {
  $icon2x: "icons-retina/#{$icon}2x.png";
  background: sprite($map, $icon);

  @include responsive(retina) {
    background: image-url($icon2x) no-repeat center center;
    @include background-size(auto 100%);
  }
}

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}