/*-----------------------------------
 * MIXINS
 *-----------------------------------*/

@mixin button ($color: #049cdb, $border-radius: 5px){
	@include background(linear-gradient(top, lighten($color, 13%), $color));
	@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.15));
	@include border-radius($border-radius);
	cursor: pointer;
	border: 1px solid darken($color, 5%);
	outline: none;
	padding: 0.5em 1em 0.7em 1em;
	// typo
	color: mix(#fff, $color, 90%);
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	&:hover {
		@include background(linear-gradient(top, lighten($color, 20%), $color));
	}
	&:active {
		@include background(linear-gradient(top, darken($color, 8%), $color));
		@include box-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
	}
}

@mixin button-inset ($color: #049cdb, $bgc: #1a1a1a, $border-radius: 5px){
	@include background(linear-gradient(top, lighten($color, 13%), $color));
	@include box-shadow(0 0 0 6px $bgc, 0 7px 0 rgba(255, 255, 255, 0.1));
	@include border-radius($border-radius);
	cursor: pointer;
	border: 1px solid darken($color, 5%);
	outline: none;
	padding: 0.5em 1em 0.7em 1em;
	// typo
	color: mix(#fff, $color, 90%);
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	&:hover {
		@include background(linear-gradient(top, lighten($color, 20%), $color));
	}
	&:active {
		@include background(linear-gradient(top, darken($color, 8%), $color));
	}
}

@mixin button-3d ($color: #049cdb, $border-radius: 5px){
	@include background(linear-gradient(top, lighten($color, 13%), $color));
	@include border-radius($border-radius);
	@include box-shadow(0 0.4em 0 darken($color, 20%));
	cursor: pointer;
	border: 1px solid darken($color, 5%);
	outline: none;
	padding: 0.5em 1em 0.7em 1em;
	// typo
	color: mix(#fff, $color, 90%);
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	position: relative;
	&:hover {
		@include background(linear-gradient(top, lighten($color, 20%), $color));
	}
	&:active {
		top: 0.3em;
		@include box-shadow(0 0.2em 0 darken($color, 20%));
	}
}

@mixin button-3d-radial ($color: #049cdb, $border-radius: 5px){
	@include background(radial-gradient(center, ellipse cover, lighten($color, 13%) 0%, $color 100%));
	@include border-radius($border-radius);
	@include box-shadow(0 0.4em 0 darken($color, 20%));
	cursor: pointer;
	border: 1px solid darken($color, 5%);
	outline: none;
	padding: 0.5em 1em 0.7em 1em;
	// typo
	color: mix(#fff, $color, 90%);
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	position: relative;
	&:hover {
		@include background(radial-gradient(center, ellipse cover, lighten($color, 20%) 0%, $color 100%));
	}
	&:active {
		top: 0.3em;
		@include box-shadow(0 0.2em 0 darken($color, 20%));
	}
}