/*
|------------------------------------------------------------
| Placeholder selectors
|------------------------------------------------------------
*/

%clearfix {
    *zoom:1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%hide-text {
    @include hide-text;
}

%reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}