/*--------------------------------------
 * SPRITES
---------------------------------------*/

$icons: sprite-map("icons/*.png");
$icons-layout: smart;

.arrow-forward-icon {
	@include sprite-dimensions($icons, arrow-forward);
	margin-left: 10px;
	display: inline-block;
	vertical-align: bottom;
	background: sprite($icons, arrow-forward) no-repeat;
}