/*--------------------------------------
 * BASE
---------------------------------------*/

*, *:before, *:after {
	@include box-sizing(border-box);
	-webkit-tap-highlight-color: black(0);
}

[placeholder]:focus::-webkit-input-placeholder {
	@include transition(text-indent 0.5s 0.5s ease);
	text-indent: -100%;
	@include opacity(1);
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}