/*--------------------------------------
 * LAYOUT
---------------------------------------*/

.container {
	@extend %clearfix;
	max-width: 960px;
	margin: 0.5em auto;

	@include responsive(smartphone) {
		width: 95%;
	}

	@include responsive(tablet) {
		width: 95%;
	}
}