html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.4;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all .4s ease;
}

ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
