/** @define utilities */

.u-screenReaders {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.u-clear {
    clear: both;
}

.u-noWrap {
    white-space: nowrap;
}

.u-noMargin {
    margin: 0;
}

.u-noMarginTop {
    margin-top: 0;
}

.u-noMarginBottom {
    margin-bottom: 0;
}

.u-noPadding {
    padding: 0;
}

.u-floatLeft {
    float: left;
}

.u-floatRight {
    float: right;
}

.u-alignLeft {
    text-align: left;
}

.u-alignRight {
    text-align: right;
}

.u-clearfix {
    @mixin clearfix;
}
