:root {
    /**
     * Z-indexes
     */
    --zLoader: 14;
    --zHeader: 13;
    --zDealerListing: 12;
    --zSubHeader: 11;
    --zPopup: 10;
    --zPopover: 9;
    --zModalControl: 1;

    /**
     * Fonts
     */
    --fontPrimary: Helvetica, Arial, sans-serif;

    /**
     * Grid Settings
     */
    --gridColumnsTotal: 12;
    --containerWidth: 1220px;

    /**
     * Typography
     */
    --fontBaseSize: 16px;

}

/**
 * Media Queries
 */
@custom-media --small (width >= 480px);
@custom-media --medium (width >= 600px);
@custom-media --large (width >= 900px);
@custom-media --xlarge (width >= 1200px);
