header .logo {
    margin: 0;
    float: left;

    a {
        @extend %hide-text;
        display: block;
        width: 95px;
        height: 50px;
        background-image: url('img/logo.png');
        background-size: 95px 50px;
    }
}
